//BASE
@use "./partials/base/reset";
@use "./partials/base/tipografia";

//COMPONENTES

@use "./partials/components/header";
@use "./partials/components/footer";
@use "./partials/components/titulos";
@use "./partials/components/generales";
@use "./partials/components/cards";


//MIXINS

@use "./partials/Utilities/mixins";



.contenedor-home{
    @include mixins.grid(1fr 1fr, 150px 200px);
    margin: 20px;
}

@media (max-width: 440px){
   .contenedor-home{
    grid-template-columns: 1fr;
    gap: 10px;
   }
}

li{
    list-style-type: none;
}


