@use "../Utilitis/mixins";

footer{
    font-family: "Poppins";
    font-size: 13px;
    color: #222222;
    @include mixins.flex(row, space-between, center);
    padding: 5px 10px;
}

.img-footer{
    width: 28px;
    height: 28px;
}

.div-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
}

