@use "../Utilities/mixins";



body{
    background-color: #F1FFE8;
}

p{
    font-family: "Montserrat", sans-serif;
    color: #222222 ;
}

.img-home{
    width: 400px;
}

a{
    text-decoration: none;
}

.img-rut{
    width: 400px;
    display: block;
    margin: 0 auto;
}

.play-list{
    width: 600px;
    margin: 20px;
}

.p-habilidades{
    margin: 20px;
}

.video-yt{
    display: block;
    margin: 0 auto;

}

.p-mapa{
   @include mixins.flex(column, center, center);
}

.form-container form{
    @include mixins.grid(1fr 1fr, 20px);
    margin: 20px;
}

.miboton{
    @include mixins.button(#6BCB77, "Ponppins", #FFFFFF, none);
}

.miboton:hover{
    background-color: #F1FFE8;
    border: solid;
    color: #6BCB77;
}




