body{
    background-color: #F1FFE8;
}

p{
    font-family: "Montserrat", sans-serif;
    color: #222222 ;
}

.img-home{
    width: 400px;
}

a{
    text-decoration: none;
}

.img-rut{
    width: 400px;
    display: block;
    margin: 0 auto;
}

.play-list{
    width: 600px;
    margin: 20px;
}