

.navbar-personalizado{
    background-color: #6BCB77;
}

.navbar-personalizado .navbar-brand {
    font-family: "Montserrat", bold;
    color: #222222;
}

.navbar-personalizado .nav-link{
    font-family: "Montserrat", bold;
    color: #222222;

}

.nav-link:hover{
    color: #ffffff;
}


