h1{
    font-family: "Poppins", sans-serif;
    color: #FF7F50 ;
    text-align: center;
}

h2{
    font-family: "Montserrat", sans-serif;
    color: #FFC3A8;
    margin: 20px;
}

h3{
    font-family: "Poppins", sans-serif;
    color: #b4b4b4 ;
    margin: 20px;
}


.li-rut{
    font-family: "Montserrat", sans-serif;
    color: #6BCB77 ;
    text-decoration: underline;
}