@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ($columns, $gap){
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}

@mixin button ($bgcolor, $font, $color, $border){
    background-color: $bgcolor;
    font-family: $font;
    color: $color;
    padding: 7px 9px;
    border-radius: 3px;
    border: $border;
    
}