@media (max-width: 420px){
  body{
    max-width: 100%;
  }
}

@media (max-width: 440px){
    footer{
        flex-direction: column-reverse;
        gap: 3px;
    }
}

@media (max-width: 420px){
    .contenedor-home{
        grid-template-columns: 1fr; 
        gap: 10px;
        max-width: 100%;
    }

}


@media (max-width: 420px){
    .img-home{
        max-width: 100%;
    }
}

@media (max-width: 420px){
    .mapa{
        max-width: 100%;
        height: 250px;
    }
}

@media (max-width: 420px){
    .form-container{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 420px){
    .video-yt{
        width: 100%;
        
    }
}

@media (max-width: 420px){
    .card-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 420px){
    .entrada-c{
        flex-direction: column;
    }
}

@media (max-width: 420px){
    .container-moves{
        flex-direction: column;
    }
    .p-moves{
        width: 100%;
    }
}

@media (max-width: 420px){
    .contendor-ol{
        flex-direction: column;
    }

    .play-list{
        width: 100%;
        height: 400px;

    }

}