*{
    margin: 0;
    padding: 0;
}
/*fuente */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*   font-family:   font-family: "Roboto Condensed", sans-serif; */

/*Fuente */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Inconsolata:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Roboto Condensed", sans-serif; */


body{
    background-color: #82d3df;
}

p{
    color: #000000;
   
}

h1{
    color: #ec53a0;
}

.li-nav{
        list-style-type: none;
}

.a-nav:hover{
    color: #5328ca;
}

.a-nav{
    text-decoration: none;
    color: #7d62ad; 
}

h2{
    color: #97bd31;
}

.li-pc{
    color: #000000;
    list-style-type: circle;
}
main {
    font-family: "Roboto Condensed", sans-serif;
}

footer{
        font-family: "Roboto Condensed", sans-serif;
}
.p-footer{
    font-size: 15px;
    color: black;
    width: 30%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 2%;
}

.li-rut{
    color: #ec53a0;
    list-style: none;
    margin-left: 30px;
}

.a-rut{
    color: #6842ce;
    text-decoration: none;
}

.preg-hab{
    color: #7d62ad;
}

.sp-rut{
    color: #000000;
}

.tit-pc{
    background-color: #adebf5;
}

.p-corem{
    color: #ec53a0;
    font-weight: bold;
    font-size: 20px;
}

.button{
    background-color: #7d62ad;
    color: white;
}

.button:hover{
    background-color: #97bd31;
}

.button:active{
    background-color: #ec53a0;
}

h3{
    color: #7d62ad;
    font-size: 24px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-footer {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2%;
}

.img-footer{
    margin-left: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    width: 5%;
}

.images-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-home{
    width: 30%;
    height: 60%;
    margin: 40px auto;
}

.home-p{
    display: block;
    width: 90%;
    margin-top: 10px;
    margin-left: 40px;
    text-align: justify;
}

.area-h2{
    margin: 10px 50px;
}

.play-list{
    margin-left: 60px;
    width: 90%
}


.video-yt{
    width: 40%;
    display: block;
    margin: 15px auto;
}

.contendor-ol{
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 60px;
    grid-area: 
    "li-rut" 
    "a rut"    ;
}

.li-rut{
    grid-area: li-rut;
}

.a-rut{
    grid-area: a-rut;
}

.tituloh1{
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

.h2-rut{
    color: #ec53a0;
    list-style: none;
}

.ol-rut{
    margin-bottom: 60px;
}

.p-moves{
    margin: 40px;
    list-style: none;
}

.li-moves{
    margin-left: 40px;
    list-style-type: decimal;
}

.ul-moves{
    margin-left: 40px;
}

.container-fluid{
    background-color: #82d3df ;
    display: flex;
    align-items: flex-end ;
  
}

.navbar-brand{
    font-family: "Roboto Condensed", sans-serif;
    color: #ec53a0;
}

.nav-link{
    font-family:  "Roboto Condensed", sans-serif;
    color: #97bd31;
}


.header{
    margin-bottom: 0px;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.mapa{
    display: block;
    margin: auto;
}

.form-container form{
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: 
        "nombre mail"
        "barrios mensaje";
    justify-content: space-around;
}

.nombre{
    grid-area: nombre;
}

.mail{
    grid-area: mail;
}

.barrios{
    grid-area: barrios;
}

.mensaje{
    grid-area: mensaje;
}

.cuadrotexto{
    width: 600px;
    height: 70px;
}

input,
textarea,
select{
    border-radius: 5px;
}

